@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fredoka:wght@300..700&family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Fredoka", sans-serif;
}

nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 25px;
  width: auto;
  margin-right: 10px;
}
nav .logo h1 {
  font-size: calc(1.1rem + 3px);
  color: #000;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #f1ad5a;
  font-size: calc(95% + 3px);
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  color: #f1ad5a9d;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #f1ad5a;
  display: block;
  margin: 7px auto;
}
.hamburger-active {
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}


nav ul {
  list-style: none;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
  .menubar {
    position: absolute;
    top: -100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    background: transparent;
    z-index: 2;
  }

  .active {
    top: 45px;
  }

  .menubar ul {
    padding: 0;
    list-style: none;
  }

  .menubar ul li:last-child {
    margin-bottom: 5px;
  }

  .menubar ul li a {
    text-decoration: none;
    color: var(--text);
    font-size: calc(95% + 3px);
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .menubar ul li a:hover {
    color: var(--text);
    background-color: var(--primary);
  }

.menubar ul li {
  margin-bottom: 32px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: calc(95% + 3px);
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  color: var(--primary);
}

nav .logo h1 {
  font-size: calc(1.1rem + 3px);
  color: var(--text);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Fredoka", sans-serif;
  background-color: var(--background);
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: var(--primary);
  display: block;
  margin: 7px auto;
}

header {
  background-image: url(/images/header_img.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
header h1 {
  font-size: 5rem;
  color: var(--text);
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
header p {
  font-size: 1.5rem;
  color: var(--text);
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
header button.explore {
  background-color: var(--text);
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header button.store {
  background-color: var(--primary);
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header button.explore:hover {
  background-color: var(--accent);
  color: var(--text);
}

header button.store:hover {
  background-color: var(--accent);
  color: var(--text);
}.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.header-text {
  width: 100%;
  margin-bottom: 2rem;
}

.header-buttons {
  width: 100%; 
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
}

:root {
  --text: #dfe6f1;
  --background: #090f18;
  --primary: #1b3ac1;
  --secondary: #343783;
  --accent: #1b39c16e;
    
}
  .cards-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 2rem;
    background-color: var(--background);
  }

  .card {
    background-color: var(--secondary);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    width: 300px;
    height: 450px;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(139, 131, 211, 0.2);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }

  .card-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(transparent, rgba(126, 132, 216, 0.8));
    text-align: center;
  }

  .card h2 {
    color: var(--text);
    font-size: 2rem;
    transition: color 0.3s ease;
  }

  .card:hover {
    box-shadow: 0 0 30px rgba(172, 191, 228, 0.4);
    transform: translateY(-5px);
  }

  .card:hover h2 {
    color: var(--text);
  }

  .card:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(69, 40, 114, 0.3);
    border-radius: 15px;
  }

  @media screen and (max-width: 960px) {
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
  }
  .about {
    background-color: var(--background);
    padding: 4rem 2rem;
    text-align: center;
  }
      .about-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 4rem;
        align-items: center;
      }

      .about-text {
        flex: 1;
      }

      .about-content h2 {
        color: var(--text);
        font-size: 2.5rem;
        margin-bottom: 2rem;
        text-align: left;
      }

      .about-content p {
        color: var(--text);
        font-size: 1.2rem;  
        line-height: 1.5;
        margin-bottom: 2rem;
        text-align: justify;
      }

      .about-content p:last-child {
        margin-bottom: 0;
      }

      .about-content li {
        color: var(--text);
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        text-align: justify;
      }

      .about-image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .about-image img {
        max-width: 100%;
        height: auto;
      }

      @media screen and (max-width: 768px) {
        .about-content {
          flex-direction: column;
          gap: 2rem;
        }
  
        .about-image {
          width: 80%;
          margin: 0 auto;
        }
      }
  .best-sellers {
    background-color: var(--background);
    padding: 4rem 2rem;
    text-align: center;
  }

  .best-sellers-content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .best-sellers h2 {
    color: var(--text);
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .best-sellers p {
    color: var(--text);
    font-size: 1.2rem;
    margin-bottom: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .product-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    height: fit-content;
  }

  .product-card:hover {
    transform: translateY(-5px);
  }

  .product-card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    padding: 1rem;
  }

  .product-info {
    padding: 0.8rem;
    position: relative;
  }
  .product-info p {
    color: var(--background);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  .product-info h3 {
    color: var(--background);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: left;
    height: 3em;
    overflow: hidden;
  }  

  .product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
  }

  .cart-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 1024px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 480px) {
    .products-grid {
      grid-template-columns: 1fr;
    }
  }
  footer {
    background-color: var(--background);
    padding: 4rem 2rem 1rem 2rem;
    color: var(--text);
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }
  
  .footer-left .logo {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .footer-left .logo img {
    height: 25px;
    width: auto;
    margin-right: 10px;
  }
  
  .footer-left p {
    margin-bottom: 0.5rem;
    color: var(--text);
  }
  
  .footer-right {
    display: flex;
    gap: 2rem;
  }
  
  .footer-links {
    display: flex;
    gap: 4rem;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 1rem;
  }
  
  .footer-links ul li a {
    color: var(--text);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links ul li a:hover {
    color: var(--primary);
  }
  
  .footer-bottom {
    max-width: 1200px;
    margin: 4rem auto 0;
    padding-top: 2rem;
    border-top: 1px solid var(--secondary);
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
    
    .footer-links {
      gap: 2rem;
    }
  }
  

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 0.5rem 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  margin: 0;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  color: var(--text);
}

.dropdown-content a:hover {
  background-color: #090f18;
}
